{% load static %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/style1.css' %}">
-->




<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'>   
    


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center text-white  bg-dark ">
    <div class="container fakeimg">
    <header class="masthead mb-auto">
      <div class="inner">
        
       
      </br>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs bg-light justify-content-center  "  role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home"> <i class="fas fa-home">Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1"><i class="fas fa-address-book" style="color:rgb(98, 101, 102);">Contact</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2"><i class="fas fa-coffee ">about us</i></a>
            </li>
          </ul>

          <h3 class="masthead-brand" style= "font-family: 'Berkshire Swash';font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;">Polls app</h3>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading pt-4">{{ question.question_text }}</h1>
      <p class="lead">{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      {% for choice in question.choice_set.all %}
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
      {% endfor %}

      <p class="lead">
      <input type="submit" value="Vote" class="btn btn-lg btn-secondary">
      </p>
      </form></p>
      <p class="lead   pt-3">
       
        
      </p>
      <p class="lead">
        <a href="#" class="fas fa-arrow_back"><i >&#xf359;</i></a>      <a href="#" class="fas fa-arrow_back text-left"> <i >&#xf35a;</i></a>                  
      </p>
      
    
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
</div>
</body>
</html>
